<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infocz.igviewer.api.mapper.gdb.DbMapper">

    <select id="selectGraphPaths" resultType="HashMap">
        /* DbMapper.selectGraphPaths */ 
        SELECT  graphname
             ,  nspid 
          FROM  ag_graph 
         order  by graphname
	</select>

    <update id="setGraphPath" parameterType="String">
        /* DbMapper.setGraphPath */ 
        SET graph_path = '${graph}'
	</update>

    <select id="selectLabels" parameterType="map" resultType="HashMap">
        /* DbMapper.selectLabels */ 
        SELECT labid
            ,  labname 
            ,  labdesc
            ,  labkind
            ,  start
            ,  "end"
         FROM  ag_map
        WHERE  graphname = #{graph}
        order  by labdesc
    </select>

    <select id="selectProperties" parameterType="map" resultType="HashMap">
        /* DbMapper.selectProperties */ 
        SELECT  labname as label
             ,  pname as prop 
             ,  labkind
          FROM  ag_properties	
         WHERE  graphname = #{graph}
         order  by label, prop
    </select>


    <select id="selectAgMap" parameterType="map" resultType="HashMap">
        /* DbMapper.selectAgMap */ 
        SELECT  labid as id
             ,  labname as label
             ,  labdesc as name
             ,  labkind
             ,  start
             ,  "end"
          FROM  ag_map	
         WHERE  graphname = #{graph}
    </select>


    <select id="selectEdgeList" parameterType="map" resultType="HashMap">
        /* DbMapper.selectEdgeList */ 
        SELECT  ta.e_label
             ,  ta.count
             ,  am.labdesc as title  
          FROM (SELECT  t.e_label
                     ,  count(1) 
                  FROM (match (n:${category})-[r]-(m) 
                 WHERE  id(n)=${keyword} RETURN label(r) AS e_label) t         
                 group  by t.e_label) ta
         inner  join ag_map am
            on  name(ta.e_label) = concat('"', am.labname, '"')
         WHERE  am.labkind = 'e'
         order  by ta.count desc 
    </select>

</mapper>