<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infocz.infoCruise.api.mapper.gdb.EdgeMapper">
    
    <insert id="createEdge" parameterType="String">
        /* EdgeMapper.createEdge */ 
        CREATE ELABEL ${edgeNm}
	</insert>
    <delete id="dropEdge" parameterType="String">
        /* EdgeMapper.dropEdge */ 
        DROP ELABEL ${edgeNm} CASCADE;
	</delete>
    
    <insert id="insertEdge" parameterType="map">
        /* EdgeMapper.insertEdge */ 
        MATCH (a:${mainVertex}), (b:${subVertex})
        WHERE  a.${mainKey} = b.${subKey}
        merge (a)- [e:${edgeNm} ${propertes}] -> (b);
	</insert>

    <!-- 

    MATCH (n)-[r:eg_employee_team]->() DELETE r;

    CREATE ELABEL live_together;
    CREATE ELABEL room_mate inherits (knows, live_together);


    load from "public"."t_project_info" as tmp match (a:government_dept), (b:organization) 
    where a.부처명 = tmp.ab010
    and b.기관식별번호 = tmp.id4
    merge (a)- [e:eg_dept_org] -> (b);-->

</mapper>