<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infocz.igviewer.api.mapper.rdb.RdbMapper">

  <select id="selectEmployee" resultType="camelMap">
    /* DbMapper.selectEmployee */ 
    SELECT * 
      FROM employee
	</select>

  <select id="selectTableList" resultType="camelMap">
    /* DbMapper.selectTableList */ 
    SELECT  t.TABLE_NAME as "KEY"
         ,  t.TABLE_NAME 
         ,  t.TABLE_COMMENT
         ,  LOWER(GROUP_CONCAT(case when c.COLUMN_KEY = 'PRI' then c.COLUMN_NAME else null end)) as PRIS
         ,  LOWER(GROUP_CONCAT(c.COLUMN_NAME)) as COLUMN_NAMES
      FROM  INFORMATION_SCHEMA.TABLES t
      left  join INFORMATION_SCHEMA.COLUMNS c
        on  t.TABLE_SCHEMA = c.TABLE_SCHEMA
       and  t.TABLE_NAME = c.TABLE_NAME
     WHERE  t.TABLE_SCHEMA='sample'
       and  t.TABLE_TYPE = 'BASE TABLE'
     group  by t.TABLE_NAME
         ,  t.TABLE_COMMENT
     ORDER  BY t.TABLE_NAME
	</select>

  <select id="selectColumns" parameterType="String" resultType="camelMap">
    /* DbMapper.selectColumns */ 
    SELECT  TABLE_NAME as TABLE_NM
         ,  ORDINAL_POSITION
         ,  COLUMN_NAME
    	   ,  COLUMN_KEY
    	   ,  COLUMN_TYPE
    	   ,  COLUMN_COMMENT    	   
      FROM  INFORMATION_SCHEMA.COLUMNS     
     WHERE  TABLE_NAME = #{tableNm}
     ORDER  BY ORDINAL_POSITION;
	</select>

  <select id="selectTotalCnt" parameterType="String" resultType="integer">
    /* DbMapper.selectTotalCnt */ 
    SELECT  count(1) 
      FROM  ${tableNm}
	</select>

  <select id="selectTableData" parameterType="map" resultType="camelMap">
    /* DbMapper.selectTableData */ 
    SELECT  t.*
      <if test="limit != null and limit != ''">
         ,  ROW_NUMBER() over() as "KEY"
      </if>
      FROM  ${tableNm} t
      <if test="limit != null and limit != ''">
        limit  10
      </if>
	</select>

  <select id="selectMeta" parameterType="map" resultType="camelMap">
    /* DbMapper.selectMeta */ 
    SELECT  t.*
      <if test="limit != null and limit != ''">
         ,  ROW_NUMBER() over() as "KEY"
      </if>
      FROM  ${tableNm} t
      <if test="limit != null and limit != ''">
        limit  10
      </if>
	</select>


</mapper>