<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infocz.infoCruise.api.mapper.rdb.RdbMapper">

  <select id="selectEmployee" resultType="camelMap">
    /* RdbMapper.selectEmployee */ 
    SELECT * 
      FROM employee
	</select>

  <select id="selectTableList" resultType="camelMap">
    /* RdbMapper.selectTableList */ 
    SELECT  t.TABLE_NAME as "KEY"
         ,  t.TABLE_NAME
         ,  t.TABLE_COMMENT
         ,  c.COLUMN_KEY
         ,  c.COLUMN_NAME
         ,  c.COLUMN_TYPE
     	   ,  c.COLUMN_COMMENT
      FROM  INFORMATION_SCHEMA.TABLES t
      left  join INFORMATION_SCHEMA.COLUMNS c
        on  t.TABLE_SCHEMA = c.TABLE_SCHEMA
       and  t.TABLE_NAME = c.TABLE_NAME
     WHERE  t.TABLE_SCHEMA='sample'
       and  t.TABLE_TYPE = 'BASE TABLE'
     ORDER  BY t.TABLE_NAME, c.ORDINAL_POSITION
	</select>

  <select id="selectColumns" parameterType="map" resultType="camelMap">
    /* RdbMapper.selectColumns */ 
    SELECT  TABLE_NAME as TABLE_NM
         ,  ORDINAL_POSITION
         ,  COLUMN_NAME
    	   ,  COLUMN_KEY
    	   ,  COLUMN_TYPE
    	   ,  COLUMN_COMMENT
      FROM  INFORMATION_SCHEMA.COLUMNS
     WHERE  TABLE_NAME = #{tableNm}
      <if test="columns != null and columns != '' and columns.size() != 0">
       AND  COLUMN_NAME in
        <foreach item="item" index="index" collection="columns" open="(" close=")" separator=", ">#{item}</foreach>
      </if>
     ORDER  BY ORDINAL_POSITION;
	</select>

  <select id="selectTotalCnt" parameterType="String" resultType="integer">
    /* RdbMapper.selectTotalCnt */ 
    SELECT  count(1) 
      FROM  ${tableNm}
	</select>

  <select id="selectTableData" parameterType="map" resultType="camelMap">
    /* RdbMapper.selectTableData */ 
    SELECT  
      <choose>
        <when test="columns != null and columns != '' and columns.size() != 0">
            <foreach item="item" index="index" collection="columns" separator=", ">${item}</foreach>
        </when>
        <otherwise>
            t.*
        </otherwise>
      </choose>
      <if test="limit != null and limit != ''">
         ,  ROW_NUMBER() over() as "KEY"
      </if>
      FROM  ${tableNm} t
      <if test="limit != null and limit != ''">
        limit  10
      </if>
	</select>

  <select id="selectMeta" parameterType="map" resultType="camelMap">
    /* RdbMapper.selectMeta */ 
    SELECT  t.*
      <if test="limit != null and limit != ''">
         ,  ROW_NUMBER() over() as "KEY"
      </if>
      FROM  ${tableNm} t
      <if test="limit != null and limit != ''">
        limit  10
      </if>
	</select>


</mapper>